page-universities-collection {

}
.new_h2{
    color: #000000 !important; text-align: left !important; font-size: 13pt !important;
}
.new_p{
    text-align: left !important;
}
.new_img{
    width: 62px !important;
    height: 68px !important;
}